.create-page
  .create-page__topimage
    = image_tag "material/logo/logo.png",height: "50px", width: "200px"
  .create-page__form
    .create-page__form__title
      登録が完了しました
    .create-page__submit
      = link_to "クレジットカード登録へ", new_card_path, class: "create-page__submit"
    .create-page__submit
      = link_to "トップページへ", root_path, class: "create-page__submit"