.card-show
  .card-show__fwrapper
    .card-show__fwrapper__title
      登録クレジット情報
    .card
      .card__info
        カード情報
        .card__info__numbers
          .number
            = "**** **** ****" + @customer_card.last4
        .expiration_date
          .expiration_date__title
            有効期限
          .expiration_date__info
            = @exp_month + " / " + @exp_year
      .destroy__function
        = link_to card_path, method: :delete, class: "destroy__function__btn" do 
          削除する
    .payment-details
      = link_to "支払い方法について >", "", class: "payment-details__btn"