.header
  .header__top
    .header__top--title
      = link_to image_tag("material/logo/logo.png", size: "170x50"),items_path
    .header__top--search
      %input.search-size{:type => "text",:placeholder => "キーワードから探す"}
    .header__top--search-image
      = image_tag "material/icon/icon-search 1.png", size: "25x25"
  .header__bottom
    .header__bottom--left
      .category
        カテゴリーから探す
      .brand
        ブランドから探す
    .header__bottom--right
      .sign-up
        = link_to "新規登録", new_user_registration_path, class: "sign-up-btn"
      .login
        = link_to "ログイン", new_user_session_path, class: "login-btn"