.header{
  padding: 5px 0 0 0;
  position:relative;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.5);
  &__top{
    height: 60px;
    width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    &__title{
      margin: 10px 10px 0 0;
    }
    &__search{
      .search-size{
        width: 600px;
        height: 35px;
        padding-left: 5px;
        }
        .search-size:focus{
          outline: solid 1px #67c5ff;
        }
      }
      &__search-image{
        width: 35px;
        height: 35px;
        padding: 5px 5px 5px 5px;
        background: #3CCACE;
      }
    }
    &__bottom{
      height: 48px;
      width: 815px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 10px;
      &__left{
        display: flex;
        margin-top: 30px;
        padding-bottom: 15px;
        .category{
          display: flex;
          &__image{
            margin-right: 3px;
          }
          &__text{
            a {
              color: black;
              text-decoration: none;
              display: block;
              transition: 0.1s;
              &:hover{
                color: #00bfff;
              }
            }
            ul {
              li {
                ul {
                  z-index: 9;
                  display: none;
                }
                li {
                  &:hover{
                    .level2{
                      display: block;
                    }
                  }
                  ul {
                    display: none;
                  }
                  li {
                    &:hover{
                      .level3{
                        display: block;
                      }
                    }
                    ul {
                      display: none;
                    }
                    li {
                    }
                      }
                  }
              }
            }
            .level1, .level2, .level3 {
              .category-active {
                color: white;
                background: darken(#00bfff, 10%);
              }
            }
            .position-setting{
              position: relative;
            }
            .level1 {
              font-size: 16px;
              position: absolute;
              margin-top: 10px;
              top: 100%;
              left: -28px;
              width: 160%;
              background: lighten(#00bfff, 45%);
              a {
                padding: 10px 10px;
                background: lighten(#00bfff, 45%);
              }
            }
            .level2 {
              font-size: 14px;
              position: absolute;
              top: 0;
              left: 100%;
              border-left: 1px solid white;
              width: 100%;
              height: 100%;
              background: lighten(#00bfff, 45%);
              a {
                padding: 1px 10px;
                background: lighten(#00bfff, 45%);
              }
            }
            .level3 {
              position: absolute;
              top: 0;
              left: 100%;
              border-left: 1px solid white;
              width: 120%;
              height: 100%;
              background: lighten(#00bfff, 45%);
            }
          }
          &:hover{
            .level1{
              display: block;
            }
          }
        }
        .brand{
          display: flex;
          margin-left: 20px;
          &__image{
            margin-right: 3px;
          }
          &__text{
            font-family: 'Kosugi Maru', sans-serif;
            line-height: 24px;
            a{
              text-decoration: none;
              color: black;
            }
          }
        }
      }
      &__right{
        display: flex;
        .user-name{
          .user-name-btn {
            display: inline-block;
            padding: 4px 18px 6px 18px;
            text-decoration: none;
            color: #fff;
            border: solid 2px darken(#67c5ff, 5%);
            border-radius: 3px;
            transition: .4s;
            background: darken(#67c5ff, 5%);
            margin: 0 5px 0 0;
          }
          .user-name-btn:hover {
            opacity: 0.8;
          }
        }
        .logout{
          .logout-btn {
            display: inline-block;
            padding: 4px 18px 6px 18px;
            text-decoration: none;
            color: #67c5ff;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .4s;
          }
          .logout-btn:hover {
            background: #67c5ff;
            color: white;
          }
        }
        .sign-up{
          .sign-up-btn {
            display: inline-block;
            padding: 4px 18px 6px 18px;
            text-decoration: none;
            color: #fff;
            border: solid 2px #b22222;
            border-radius: 3px;
            transition: .4s;
            background: #b22222;
            margin: 0 5px 0 0;
          }
          .sign-up-btn:hover {
            opacity: 0.8;
          }
        }
        .login{
          .login-btn {
            display: inline-block;
            padding: 4px 18px 6px 18px;
            text-decoration: none;
            color: #67c5ff;
            border: solid 2px #67c5ff;
            border-radius: 3px;
            transition: .4s;
          }
          .login-btn:hover {
            background: #67c5ff;
            color: white;
          }
        }
      }
    }
    .breadcrumbs-frame{
      border-top: solid 1px lighten(#00bfff,40%);
      .breadcrumbs{
        width: 800px;
        height: 50px;
        line-height: 50px;
        margin: 0 auto;
        background: #fff;
        color: lighten(#000000,25%);
        a{
          text-decoration: none;
          color: lighten(#000000,25%);
        }
        a:hover{
          color: #00bfff;
          border-bottom: solid 1px #00bfff;
        }
      }
  }
}