@mixin btn-display{
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  border-radius: 20px;
}
@mixin any-or-require{
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  margin-left:10px ;
}
@mixin input-btn{
  height: 50px;
  width: 300px;
  border-radius: 5px;
}
@mixin form-center{
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

$form-bg-color: rgb(245,245,245);
$default-bg-color: rgb(255,255,255);

.account-page{
  height: 100%;
  width: 100%;
  padding: 50px;
  background-color: $form-bg-color;  
  &__topimage{
    height: 20px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  &__form{
    @include form-center;
    font-size: 15px;
    background-color: $default-bg-color;
    padding-bottom: 30px;
    &__title{
      width: 200px;
      font-size: 30px;
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: 30px;
      margin: 0 auto;
    }
  }
  .field{
    width: 300px;
    padding-top: 30px;
    margin: 0 auto;
    &__title{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 20px;
      a{
        @include any-or-require;
        background-color: skyblue;
      }
      p{
        @include any-or-require;
        background-color: red;
      }
    }
    input[type="text"]{
      @include input-btn;
    }
    input[type="password"]{
      @include input-btn;
    }
    input[type="number"]{
      @include input-btn;
    }
    input[type="email"]{
      @include input-btn;
    }
  }
  &__submit{
    padding: 50px 0;
    input{
      @include btn-display;
      height: 80px;
      width: 400px;
      font-weight: bold;
      margin: 0 auto;
      color: white;
      background-color: red;
    }
    input:hover{
      opacity: 0.6;
    }
  }
  .error_explanation{
    width: 100%;
    h2{
      width: 400px;
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border : solid 2px;
      margin: 0 auto;
      color: red;
      background-color: #FFC0CB;
    }
    ul{
      padding-top: 10px;
      width: 300px;
      font-size: 15px;
      margin: 0 auto;
      color: red;
      text-align: center;
      li{
        padding-top: 5px;
        margin-bottom: 10px;
      }
    }
  }
}