@mixin btn-display{
  cursor: pointer;
  display: block;
  outline: none;
  border: none;
  border-radius: 20px;
}
@mixin any-or-require{
  color: white;
  padding: 0 5px;
  border-radius: 5px;
  margin-left:10px ;
}
@mixin input-btn{
  height: 50px;
  width: 300px;
  border-radius: 5px;
}
@mixin form-center{
  height: 100%;
  width: 50%;
  margin: 0 auto;
}

$form-bg-color: rgb(245,245,245);
$default-bg-color: rgb(255,255,255);

.account-page{
  height: 100%;
  width: 100%;
  background-color: $form-bg-color;
  &__topimage{
    height: 20px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-top: 50px;
  }
  &__form{
    @include form-center;
    font-size: 15px;
    background-color: $default-bg-color;
    // padding-bottom: 30px;
    .new_user{
      height: 100%;
      width: 100%;
      // background-color: red;
    }
    &__title{
      width: 200px;
      font-size: 30px;
      font-weight: bold;
      padding-top: 50px;
      padding-bottom: 30px;
      margin: 0 auto;
    }
  }
  .field{
    width: 300px;
    padding-top: 30px;
    margin: 0 auto;
    &__title{
      display: flex;
      justify-content: space-between;
      font-size: 20px;
      font-weight: bold;
      padding-bottom: 10px;
      text-align: center;
      a{
        @include any-or-require;
        background-color: skyblue;
      }
      p{
        @include any-or-require;
        background-color: red;
      }
    }
    input[type="text"]{
      @include input-btn;
    }
    input[type="password"]{
      @include input-btn;
    }
    input[type="number"]{
      @include input-btn;
    }
    input[type="email"]{
      @include input-btn;
    }
  }
  &__submit{
    padding: 50px 0;
    input{
      @include btn-display;
      height: 80px;
      width: 400px;
      font-weight: bold;
      margin: 0 auto;
      color: white;
      background-color: red;
    }
    input:hover{
      opacity: 0.6;
    }
  }
  .error_explanation{
    width: 100%;
    h2{
      width: 400px;
      font-size: 15px;
      padding-top: 10px;
      padding-bottom: 10px;
      border : solid 2px;
      margin: 0 auto;
      color: red;
      background-color: #FFC0CB;
    }
    ul{
      padding-top: 10px;
      width: 300px;
      font-size: 15px;
      margin: 0 auto;
      color: red;
      text-align: center;
      li{
        padding-top: 5px;
        margin-bottom: 10px;
      }
    }
  }
}


.cp_stepflow01 {
	font-size: 80%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 1em;
  padding: 0;
  margin-bottom: 50px;
}
.cp_stepflow01 > li {
	position: relative;
	display: block;
	width: auto;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	text-overflow: ellipsis;
	color: gray;
	 -ms-flex: 1;
	-moz-flex: 1;
	-webkit-box-flex: 1;
	     flex: 1;
}
.cp_stepflow01 > li .bubble {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 auto 0.5em;
	border-radius: 1000px;
	background-color: gray;
}
.cp_stepflow01 > li .bubble::after,
.cp_stepflow01 > li .bubble::before {
	position: absolute;
	top: 9px;
	display: block;
	width: 100%;
	height: 3px;
	content: '';
	background-color: gray;
}
.cp_stepflow01 > li.completed,
.cp_stepflow01 > li.completed .bubble {
	color: gray;
}
.cp_stepflow01 > li.completed .bubble,
.cp_stepflow01 > li.completed .bubble::after,
.cp_stepflow01 > li.completed .bubble::before {
	background-color: gray;
}
.cp_stepflow01 > li:last-child .bubble::after,
.cp_stepflow01 > li:last-child .bubble::before {
	width: 0%;
	margin-right: 50%;
}
.cp_stepflow01 > li.active,
.cp_stepflow01 > li.active .bubble {
	font-weight: bold;
	color: #00acc1;
}
.cp_stepflow01 > li.active .bubble,
.cp_stepflow01 > li.active .bubble::after,
.cp_stepflow01 > li.active .bubble::before {
	background-color: #4dd0e1;
}
