.put-item-page
  =form_with model: @item,url: items_path(@item), local: true do |f|
    .put-item-page__topimage
      = image_tag "material/logo/logo.png", height: "50px", width: "200px"
    .put-item-page__form
      .form-data
        .form-data__item
          = f.fields_for :images do |img|
            .form-title
              =img.label "出品画像"
              .form-title__required
                %label 必須
            .form-condition
              %p 最大4枚までアップロードできます
            .form-input-image
              %div{"data-index": "#{img.index}" ,class:"js-file_group"}
              =img.file_field :image, class: 'js-file'
              .js-remove
                削除

        .form-data__item
          .form-title
            =f.label "商品名"
            .form-title__required
              %label 必須
          .form-input-text
            =f.text_field :item_name, placeholder: "商品名を入力してください"
          .form-title
            =f.label "商品説明"
            .form-title__required
              %label 必須
          .form-input-textarea
            =f.text_area :explanation, placeholder: "商品の説明\n(色、素材、定価など)\n\n例）2010年ごろ購入したセーターです。ライトグレーで、目立った傷や汚れはございません。"

        .form-data__item
          .form-group
            %label 商品詳細
          .form-title
            %label カテゴリ
            .form-title__required
              %label 必須
          .form-input-select
            %select
              %option{value:""}
                選択してください
          .form-title
            =f.label "ブランド"
            .form-title__any
              %label 任意
          .form-input-text
            =f.text_field :brand, placeholder:"ブランドを入力してください"
          .form-title
            =f.label "商品の状態"
            .form-title__required
              %label 必須
          .form-input-select
            =f.select :condition, {選択してください:"",傷あり:"傷あり",状態は良い:"状態はよい",未使用:"未使用",}


        .form-data__item
          .form-group
            %label 配送について
          .form-title
            =f.label "配送元の地域"
            .form-title__required
              %label 必須
          .form-input-select
            %select
              %option{value:""}
                選択してください
              %option{value:@address}
                =@address
          .form-title
            =f.label "発送までの日数"
            .form-title__required
              %label 必須
          .form-input-select
            =f.select :ship_date,{選択してください:"",２日以内:"２日以内",５日以内:"５日以内",１週間程度:"１週間程度",}
          .form-title
            =f.label "配送料"
            .form-title__required
              %label 必須
          .form-input-text
            =f.number_field :delivery_fee, value: 0
        .form-data__item.form-data__price
          .form-group
            %label 価格(¥300 ~9,999,999)
          .form-price-flex
            .form-title
              =f.label "販売価格"
              .form-title__required
                %label 必須
            =f.number_field :price, value: 0
          .form-price-flex
            %label 販売手数料
            %label 1000円
          .form-price-flex
            %label 販売利益
            %label 4000円
        .form-data__submit
          =f.submit value: "出品する"