//このファイル全体を変更しました。//
= render "shared/header"

.contents1
  .contents1--image
    .contents1--image__text1
      人生を変えるフリマアプリ
    .contents1--image__text2
      FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
    .contents1--image__image
      =link_to "#",class: 'link' do
        .contents1--image__image--1
      =link_to "#",class: 'link' do
        .contents1--image__image--2    

.contents2
  .contents2__top
    FURIMAが選ばれる３つの理由
    .contents2__top--bottom
  .contents2__bottom
    .contents2__bottom__left
      .contents2__bottom__left--top
    
      .contents2__bottom__left--bottom
        %h 3分ですぐに出品できる！
      
    .contents2__bottom__middle
      .contents2__bottom__middle--top
      .contents2__bottom__middle--bottom
        %h シンプル で使いやすい !
    .contents2__bottom__right
      .contents2__bottom__right--top
      .contents2__bottom__right--bottom
        %h 手数料 業界最安 !

.contents3
  .contents3__image
  .contents3__top
    %h 会員数日本一位
  .contents3__middle
    %h FURIMAは、フリマアプリで最も人気。
    %br 出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .contents3__bottom
    .contents3__bottom--left
    .contents3__bottom--right

=link_to '#' do
  .senditem
    出品する
    .senditem__image

.contents4
  .contents4__top
    %h FURIMAの特徴
    .contents4__top--bottom
  .contents4__bottom
    .contents4__bottom__left
      .contents4__bottom__left--top

      .contents4__bottom__left--bottom
        %h 簡単に売り買いできる
    .contents4__bottom__middle
      .contents4__bottom__middle--top

      .contents4__bottom__middle--bottom
        %h 売上金は即日振込みに対応
    .contents4__bottom__right
      .contents4__bottom__right--top
      .contents4__bottom__right--bottom
        %h 様々な支払いに対応

.contents5
  .contents5--top
    ピックアップカテゴリー
  =link_to '#',class:'middlebutton' do
    .contents5--middle
      新規投稿商品
  .contents5--bottom
    =link_to '#',class:'left' do
      .contents5--bottom__left
        .contents5--bottom__left--image
        .contents5--bottom__left--price
          %h products3
          %br 
          %h 30000円 (税込)
    =link_to '#',class:'middle' do
      .contents5--bottom__middle
        .contents5--bottom__middle--image
        .contents5--bottom__middle--price
          %h products3
          %br 
          %h 30000円 (税込)
    =link_to '#',class:'right' do
      .contents5--bottom__right
        .contents5--bottom__right--image
        .contents5--bottom__right--price
          %h products3
          %br 
          %h 30000円 (税込)

.contents6
  .contents6--top
    ピックアップブランド
  =link_to '#',class:'middlebutton1' do
    .contents6--middle
      アーカイバ
  .contents6--bottom1
    =link_to '#',class:'left1' do
      .contents6--bottom1__left1
        .contents6--bottom1__left1--image
        .contents6--bottom1__left1--price1
          %h products3
          %br 
          %h 30000円 (税込)
    =link_to '#',class:'middle1' do
      .contents6--bottom1__middle1
        .contents6--bottom1__middle1--image
        .contents6--bottom1__middle1--price1
          %h products3
          %br 
          %h 30000円 (税込)
    =link_to '#',class:'right1' do
      .contents6--bottom1__right1
        .contents6--bottom1__right1--image
        .contents6--bottom1__right1--price1
          %h products3
          %br 
          %h 30000円 (税込)

.contents7
  .contents7--top
    だれでもかんたん、人生を変えるフリマアプリ
  .contents7--middle
    今すぐ無料ダウンロード！
  .contents7--bottom
    =link_to '#' do
      .contents7--bottom--left
    =link_to '#' do
      .contents7--bottom--right
.contents8
  .contents8--image

  
          