//このファイル全体を変更しました。//
= render "shared/header"

.contents1
  .contents1--image
    .contents1--image__text1
      人生を変えるフリマアプリ
    .contents1--image__text2
      FURIMAはだれでもかんたんに出品・購入できる
      %br フリマアプリです
    .contents1--image__image
      =link_to "#",class: 'link' do
        .contents1--image__image--1
      =link_to "#",class: 'link' do
        .contents1--image__image--2    

.contents2
  .contents2__top
    FURIMAが選ばれる３つの理由
    .contents2__top--bottom
  .contents2__bottom
    .contents2__bottom__left
      .contents2__bottom__left--top
      .contents2__bottom__left--bottom
        %span<> 3分で   
        すぐに出品できる！
      
    .contents2__bottom__middle
      .contents2__bottom__middle--top
      .contents2__bottom__middle--bottom
        %span<> シンプル 
        で使いやすい !
    .contents2__bottom__right
      .contents2__bottom__right--top
      .contents2__bottom__right--bottom
        %span<> 手数料 
        業界最安 !

.contents3
  .contents3__image
  .contents3__top
    %h 会員数日本一位
  .contents3__middle
    %h FURIMAは、フリマアプリで最も人気。
    %br 出品・購入回数も業界最多です！
    ほしかったあの商品に出会えるかもしれません。
  .contents3__bottom
    .contents3__bottom--left
    .contents3__bottom--right

=link_to '#' do
  .senditem
    出品する
    .senditem__image

.contents4
  .contents4__top
    %h FURIMAの特徴
    .contents4__top--bottom
  .contents4__bottom
    .contents4__bottom__left
      .contents4__bottom__left--top

      .contents4__bottom__left--bottom
        %h 簡単に売り買いできる
    .contents4__bottom__middle
      .contents4__bottom__middle--top

      .contents4__bottom__middle--bottom
        %h 売上金は即日振込みに対応
    .contents4__bottom__right
      .contents4__bottom__right--top
      .contents4__bottom__right--bottom
        %h 様々な支払いに対応

- 1.upto(13) do |i|
  .contents 
    .contents--category
      -if i==1
        =link_to "#",class:'button' do
          レディース  
        .goods
          .goods--list 
            
            -@ladies.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:'200x200'
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price 
                    円
      -if i==2 
        =link_to "#",class:'button' do
          メンズ
        .goods
          .goods--list 
            -@mens.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==3 
        =link_to "#",class:'button' do
          ベビー/キッズ
        .goods
          .goods--list 
            -@babykids.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==4
        =link_to "#",class:'button' do
          インテリア/住まい/小物
        .goods
          .goods--list 
            -@interias.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==5
        =link_to "#",class:'button' do
          本/音楽/ゲーム 
        .goods
          .goods--list 
            -@books.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==6 
        =link_to "#",class:'button' do
          おもちゃ/ホビー/グッズ
        .goods
          .goods--list 
            -@toys.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==7 
        =link_to "#",class:'button' do
          コスメ/香水/美容
        .goods
          .goods--list 
            -@perfumes.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==8
        =link_to "#",class:'button' do
          家電/スマホ/カメラ
        .goods
          .goods--list 
            -@cameras.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==9
        =link_to "#",class:'button' do
          スポーツ/レジャー
        .goods
          .goods--list 
            -@sports.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==10
        =link_to "#",class:'button' do
          ハンドメイド
        .goods
          .goods--list 
            -@handmades.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==11
        =link_to "#",class:'button' do
          チケット
        .goods
          .goods--list 
            -@tickets.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==12
        =link_to "#",class:'button' do
          自動車/オートバイ
        .goods
          .goods--list 
            -@automobiles.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      -if i==13
        =link_to "#",class:'button' do
          その他
        .goods
          .goods--list 
            -@others.each do |item|
              =link_to "#" ,class:'button1'do
                .list1 
                  .list1--top
                    -item.images.each do |image|
                      =image_tag image.image.url,size:"200x200"
                      - break
                  .list1--bottom
                    =item.item_name 
                    %br 
                    値段(税込)
                    %br
                    =item.price
                    円
      

.contents18
  .contents18--top
    だれでもかんたん、人生を変えるフリマアプリ
  .contents18--middle
    今すぐ無料ダウンロード！
  .contents18--bottom
    =link_to '#' do
      .contents18--bottom--left
    =link_to '#' do
      .contents18--bottom--right
.contents19
  .contents19--image
  
          