.single 
  .single__container
    .single__container--header
      .single__container--header__image
    .single__container--contents
      .single__container--contents__checkpage
        .single__container--contents__checkpage--1
          購入内容の確認
        .single__container--contents__checkpage--2
          .single__container--contents__checkpage--2__image
            -@goods.images.each do |image|
              =image_tag image.image.url,size:'200x200'
              - break
          .single__container--contents__checkpage--2__text
            =@goods.item_name
            %br
            =@goods.price
            円
        .single__container--contents__checkpage--3
          .single__container--contents__checkpage--3__fee
            .single__container--contents__checkpage--3__fee--1
              %h 支払い金額
            .single__container--contents__checkpage--3__fee--yen
              =@goods.price
              円
          .single__container--contents__checkpage--3__btn1
            .single__container--contents__checkpage--3__btn1--btn
          .single__container--contents__checkpage--3__method
            %h 支払い方法
            %br
            -# =render "shared/card-show"
            -if @card.blank? 
              =link_to "/cards/new",class:"registration11" do
                ここをクリックしてクレジットカード登録を行ってください。
            -else 
              クレジットカードで番号は　
              =@card.card_id
          .single__container--contents__checkpage--3__address
            配送先
            .single__container--contents__checkpage--3__address--1
              =@goods.user.user_address.preficture
              =@goods.user.user_address.city
              =@goods.user.user_address.block 
              =@goods.user.user_address.building
          .single__container--contents__checkpage--3__btn2
            .btn-buy
              =form_with(action: :pay, method: :post) do
                %button.btn-buy{type:"submit"}購入する
    .single__container--footer 
      .single__container--footer__clearfix
        =link_to "#",class: 'btn-1' do
          プライバシーポリシーについて
        =link_to "#" ,class: 'btn-2' do
          FURIMA利用規約について
        =link_to "#" ,class: 'btn-3' do
          特定商取引に関する表記について
        .single__container--footer__clearfix--image

