@mixin top-font {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  text-align:center;
}
@mixin box-setting {
  margin-top:20px;
  padding-bottom: 15px;
  border-bottom:0.8px solid;
  border-color: #C0C0C0;
}

.single{
  &__container{
    &--header{
      background-color:#f5f5f5;
      width:100vw;
      height:150px;
      &__image{
        background-image:url("material/logo/logo.png");
        background-size:100%; 
        width: 200px;
        height:55px;
        position:absolute;
        top:42px;
        left:calc(100vw / 2.33);
      }
    }
    &--contents{
      background-color:#f5f5f5;
      width:100uw;
      height:800px;
      position:relative;
      &__checkpage{
        position:absolute;
        left:calc(100vw / 3.92);
        width:calc(100vw / 2);
        padding-bottom: 20px;
        background-color:white;
        &--1{
          font-size:25px;
          height:80px;
          text-align:center;
          margin-top:30px;
          border-bottom:0.8px solid;
          border-color: #C0C0C0;
        }
        &--2{
          display:flex;
          padding: 5% 10%;
          &__image{
            width: 50%;
          }
          &__name{
            width: 50%;

            .name {
              @include top-font;
            }
            .explanation {
              word-wrap: break-word;
            }
          }
          border-bottom:0.8px solid;
          border-color: #C0C0C0;
        }
        &--3{
          width:calc(100vw / 2);
          position:relative;
          &__fee{
            display:flex;
            &--1{
              margin-left:150px;
              margin-top:60px;
              font-size:20px;
            }
            &--yen{
              font-size:26px;
              margin-top:55px;
              margin-left:200px;
            }
          }
          &__btn1{

            &--btn{
              padding-left:70px;
              padding-top:30px;
              border-bottom:0.8px solid;
              border-color: #C0C0C0;
              padding-bottom:20px;
            }
          }
          .pay-method{
            @include box-setting;

            &__title {
              @include top-font;
            }
            &__card__add {
            display: block;
            text-align: center;
            color: black;
            text-decoration: none ;
            }
          }
          .ship-address {
            @include box-setting;
            position: relative;

            &__title {
              @include top-font;
            }
            &__adress {
              text-align: center;
            }
            &__edit {
              position: absolute;
              top: 10px;
              right: 260px;
              color: blue;
              font-size: 12px;
              text-decoration: none;
            }
          }
        }
      }
    }
    &--footer{
      background-color:#f5f5f5;
      width:100vw;
      height:150px;
      &__clearfix{
        text-align:center;
        padding-top:40px;
        &--image{
          background-image:url("logo.png");
          background-size:100%;
          width: 200px;
          height:55px;
          position:absolute;
          top:1020px;
          left:calc(100vw / 2.33);
        }
      }
    }
  }
}
.link{
  text-decoration:none;
  color:black;
}
// .btn-buy{
  // text-decoration:none;
  // height: 40px;
  // line-height: 40px;
  // padding: 10px 40px;
  // margin-top: 10px;
  // border: solid 1px black;
  
  // color:black;
  
// }

// .single__container--contents__checkpage--3__btn,.single__container--contents__checkpage--3__btn2{
//   input{
//     @include btn-display;
//     height: 50px;
//     width: 400px;
//     color: white;
//     font-weight: bold;
//     background-color: red;
//     margin: 0 auto;
//   }
.purchase-btn {
  display: block;
  width: 350px;
  height: 50px;
  line-height: 50px;
  border-radius: 20px;
  text-decoration: none;
  background-color: red;
  text-align: center;
  color: white;
  margin: 20px auto 0;

}
//   input:hover{
//     opacity: 0.6;
//   }
// }
.btn-1{
  text-decoration:none;
  color:black;
}

.btn-2{
  text-decoration:none;
  color:black;
  padding-top:20px;
}
.btn-3{
  text-decoration:none;
  color:black;
}

// .btn-buy{
//   margin-left:290px;
//   text-decoration:none;
//   border:solid 1px #DDDDDD;
//   background-color:red;
//   color:white;
//   font-size:25px;
//   width:70px;
// }