//このファイル全体を変更しました。//
.contents1{
  width:100vw;
  height:550px;
  &--image{
  background-image:url("bg-mainVisual-pict_pc.jpg");
  background-size:100%; 
  width:100vw;
  height:550px;
  &__text1{
    color:white;
    font-size:60px;
    padding-top:200px;
    padding-left:150px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__text2{
    color:white;
    font-size:20px;
    padding-left:150px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__image{
    display:flex;
    margin-left:150px;
    &--1{
      background-image:url("Apple Button.svg");
      background-size:100%; 
      width:150px;
      height:44px;
      padding-right:20px;
    }
    &--2{
      background-image:url("Google Button.svg");
      background-size:100%; 
      width:150px;
      height:44px;
      
    }
  }
  }
}
.contents2{
  background-color:#EEEEEE;
  height:500px;
  &__top{
    text-align:center;
    padding-top:30px;
    font-size:30px;
    position:relative;
    &--bottom{
      position:absolute;
      width:70px;
      height:4px;
      background-color: #3CCACE;
      top:80px;
      left:calc(100vw / 2.15);
    }
  }
  &__bottom{
    display:flex;
  &__left{
    &--top{
    margin:20px 20px 0px 100px;
    background-image:url("pict-reason-01.jpg");
    background-size:100%; 
    width:306px;
    height:306px;
    }
    &--bottom{
    margin-left:100px;
    font-size:20px;
    margin-top:20px;
    &  span{
      color:#3CCACE;
    }
    }
  }
  &__middle{
    &--top{
      background-image:url("pict-reason-02.jpg");
      background-size:100%; 
      width:306px;
      height:306px;
      margin:20px 20px 0px 100px;
    }
    &--bottom{
      margin-left:100px;
      font-size:20px;
      margin-top:20px;
      &  span{
        color:#3CCACE;
      }
    }
  }
  &__right{
    &--top{
      background-image:url("pict-reason-03.jpg");
      background-size:100%; 
      width:306px;
      height:306px;
      margin:20px 20px 0px 100px;
    }
    &--bottom{
      margin-left:100px;
      font-size:20px;
      margin-top:20px;
      &  span{
        color:#3CCACE;
      }
    }
  }
  }
}
.contents3{
  width:100vw;
  height:400px;
  background-image:url("bg-topMiddleDl-pict.jpg");
  background-size:100%;   
  &__top{
    font-size:30px;
    padding:80px 0px 10px 100px;
    color:white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__middle{
    color:white;
    padding:0px 0px 10px 100px;
    font-size:15px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__bottom{
    display:flex;
    &--left{
      background-image:url("Apple Button.svg");
      background-size:100%; 
      width:150px;
      height:44px;
      margin-left:100px;
      margin-top:30px
    }
    &--right{
      background-image:url("Google Button.svg");
      background-size:100%; 
      width:150px;
      height:44px;
      margin-top:30px;
    }
  }
}
.contents4{
  background-color:#EEEEEE;
  height:500px;
  &__top{
    text-align:center;
    padding-top:30px;
    font-size:30px;
    position:relative;
    &--bottom{
      position:absolute;
      width:70px;
      height:4px;
      background-color: #3CCACE;
      top:80px;
      left:calc(100vw / 2.15);
    }
  }
  &__bottom{
    display:flex;
  &__left{
    &--top{
    margin:20px 20px 0px 100px;
    background-image:url("icon-01.png");
    background-size:100%; 
    width:306px;
    height:306px;
    }
    &--bottom{
    margin-left:100px;
    font-size:20px;
    margin-top:20px;
    text-align:center;
    }
  }
  &__middle{
    &--top{
      background-image:url("icon-03.png");
      background-size:100%; 
      width:306px;
      height:306px;
      margin:20px 20px 0px 100px;
    }
    &--bottom{
      margin-left:100px;
      font-size:20px;
      margin-top:20px;
      text-align:center;
    }
  }
  &__right{
    &--top{
      background-image:url("icon04.svg");
      background-size:100%; 
      width:180px;
      height:250px;
      margin:77px 20px 0px 140px;
    }
    &--bottom{
      margin-left:100px;
      font-size:20px;
      margin-top:20px;
      text-align:center;
    }
  }
  }
}
.senditem{
  position:fixed;
  right:50px;
  bottom:50px;
  line-height: 40px;
  padding: 0px 41px;
  margin-top: 30px;
  color:white;
  background-color:#3CCACE;
  height:120px;
  width:150px;
  &__image{
    margin-top:5px;
    background-image:url("camera.svg");
    background-size:100%; 
    width:60px;
    height:60px;
  }
}
.left{
  text-align:center;
  text-decoration:none;
  color:black;
}
.middle{
  text-align:center;
  text-decoration:none;
  color:black;
}
.right{
  text-align:center;
  text-decoration:none;
  color:black;
}

.left1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.middle1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.right1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.contents18{
  background-image:url("bg-topMiddleDl-pict.jpg");
  background-size:100%; 
  width:100vw;
  height:400px;
  &--top{
    text-align:center;
    color:white;
    font-size:25px;
    padding-top:110px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &--middle{
    text-align:center;
    color:white;
    padding-top:15px;
    font-size:30px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &--bottom{
    display:flex;
    &--left{
      background-image:url("Apple Button.svg");
      background-size:100%;
      width:150px;
      height:44px;
      margin:30px 0px 0px 535px;
    }
    &--right{
      background-image:url("Google Button.svg");
      background-size:100%;
      width:150px;
      height:44px;
      margin-top:30px;
    }
  }
}
.contents19{
  background-color:#808080;
  width:100vw;
  height:100px;
  padding-left:calc(100vw / 2.25);
  padding-top:30px;
  &--image{
    background-image:url("material/logo/logo-white.png");
    background-size: 100%;
    width:120px;
    height:35px;
  }
}
.a{
  background-color:#C0C0C0;
  height:400px;
  width:100vw;
  &--image{
    width:188px;
    height:188px;
  }
  &--price{
    background-color:white;
    width:188px;
    height:64px;
  }
}
.contents{
  background-color:#CCCCCC	;
  width:100vw;
  height:450px;
  &--category{
    padding-top:15px;
    color:black;
    font-size:25px;
    padding-left:40px;
    width:100vw;
    height:110px;
    background-color:#CCCCCC	;
  }
  &--goods{
    background-color:#CCCCCC;
    width:100vw;
    height:300px;
    &--list{
      display:flex;
    }
  }
  }
.p{
  color:white;
  padding-left:40px;
  padding-top:30px;
}

.button{
  text-decoration:none;
  color:black;
}
.list1{
  padding:0px 160px 0px 90px;
  padding-top:-20px;
  height:280px;
  width:200px;
  &--top{
    width:200px;
    height:200px;
    
  }
  &--bottom{
    height:80px;
    width:200px;
    background-color:white;
    font-size:17px;
  }
}
.goods{
  &--list{
    display:flex;
  }
}
.button1{
  color:black;
  text-decoration:none;
}
.category_name{
  text-decoration:none;
  color:black;
}