//このファイル全体を変更しました。//
.contents1{
  width:100vw;
  height:550px;
  
  &--image{
  width:100vw;
  height:550px;
    
  &__text1{
    color:white;
    font-size:60px;
    margin-top:-350px;
    padding-left:150px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__text2{
    color:white;
    font-size:20px;
    padding-left:150px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__image{
    display:flex;
    margin-left:150px;
    &--1{
      background-size:100%; 
      width:150px;
      height:44px;
    }
    &--2{
      background-size:100%; 
      width:150px;
      height:44px;
      
      
    }
  }
  }
}
.contents2{
  background-color:#EEEEEE;
  height:500px;
  &__top{
    text-align:center;
    padding-top:30px;
    font-size:30px;
    position:relative;
    &--bottom{
      position:absolute;
      width:70px;
      height:4px;
      background-color: #3CCACE;
      top:80px;
      left:calc(100vw / 2.15);
    }
  }
  &__bottom{
    display:flex;
  &__left{
    &--top{
      margin:20px 20px 0px 85px; 
    }
    &--bottom{
      font-size:20px;
      padding-left:124px;
      margin-top:20px;
      &  span{
      color:#3CCACE;
    }
    }
  }
  &__middle{
    &--top{
      margin:20px 20px 0px 100px;
    }
    &--bottom{
      margin-left:80px;
      font-size:20px;
      margin-top:20px;
      text-align:center;
      &  span{
        color:#3CCACE;
      }
    }
  }
  &__right{
    &--top{
      margin:20px 20px 0px 100px;
    }
    &--bottom{
      margin-left:90px;
      font-size:20px;
      margin-top:20px;
      text-align:center;
      &  span{
        color:#3CCACE;
      }
    }
  }
  }
}
.contents3{
  width:100vw;
  height:400px; 
  &__top{
    font-size:30px;
    margin-top:-400px;
    padding:80px 0px 10px 100px;
    color:white;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__middle{
    color:white;
    padding:0px 0px 10px 100px;
    font-size:15px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &__bottom{
    display:flex;
    &--left{
      background-size:100%; 
      width:150px;
      height:44px;
      margin-left:50px;
      margin-top:5px;
    }
    &--right{
      background-size:100%; 
      width:150px;
      height:44px;
      margin-left:23px;
      margin-top:5px;
    }
  }
}
.contents4{
  background-color:#EEEEEE;
  height:500px;
  &__top{
    text-align:center;
    padding-top:40px;
    font-size:30px;
    position:relative;
    &--bottom{
      position:absolute;
      width:70px;
      height:4px;
      background-color: #3CCACE;
      top:80px;
      left:calc(100vw / 2.15);
    }
  }
  &__bottom{
    padding-left:105px;
    display:flex;
    justify-content:space-around;
  &__left{
    width:calc(100vw / 3);
    &--top{
    
    background-size:100%; 
    width:306px;
    height:306px;
    }
    &--bottom{
    font-size:20px;
    text-align:center;
    width:306px;
    }
  }
  &__middle{
    width:calc(100vw / 3);
    &--top{
      background-size:100%; 
      width:306px;
    height:306px;
    }
    &--bottom{
      text-align:center;
      font-size:20px;
      width:306px;
    }
  }
  &__right{
    width:calc(100vw / 3);
    &--top{
      background-size:100%;
      width:306px;
      height:306px;
    }
    &--bottom{
      font-size:20px;
      text-align:center;
      width:306px;
    }
  }
  }
}
.senditem{
  position:fixed;
  right:50px;
  bottom:50px;
  line-height: 40px;
  padding-top: 4px;
  color:white;
  background-color:#3CCACE;
  height:120px;
  width:120px;
  text-align:center;
  border-radius:25px;
  &__image{
    padding-top:2px;
    background-size:100%; 
    width:60px;
    height:60px;
    margin:0 auto;
  }
}
.left{
  text-align:center;
  text-decoration:none;
  color:black;
}
.middle{
  text-align:center;
  text-decoration:none;
  color:black;
}
.right{
  text-align:center;
  text-decoration:none;
  color:black;
}

.left1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.middle1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.right1{
  text-align:center;
  text-decoration:none;
  color:black;
}
.contents18{
  background-size:100%; 
  width:100vw;
  height:400px;
  bottom: 0;
  &--top{
    text-align:center;
    color:white;
    font-size:25px;
    margin-top:-310px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &--middle{
    text-align:center;
    color:white;
    padding-top:15px;
    font-size:30px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
  }
  &--bottom{
    display:flex;
    padding-left:500px;
    padding-top:30px;
    &--left{
      background-size:100%;
      width:150px;
      height:44px;
    }
    &--right{
      background-size:100%;
      width:150px;
      height:44px;
    }
  }
}
.contents19{
  background-color:#808080;
  width:100vw;
  height:100px;
  padding-left:calc(100vw / 2.25);
  padding-top:30px;
  &--image{
    background-size: 100%;
    width:120px;
    height:35px;
  }
}
.a{
  background-color:#C0C0C0;
  height:400px;
  width:100vw;
  &--image{
    width:188px;
    height:188px;
  }
  &--price{
    background-color:white;
    width:188px;
    height:64px;
  }
}
.category-items{
  background-color: rgb(245,245,245);
  width:100vw;
  .contents{
    // background-color: rgb(245,245,245);
    height:450px;
    width: 60%;
    margin: 0 auto;
    &--category{
      padding:30px 0 15px 0;
      color:black;
      font-size:25px;
      font-weight: bold;
      width:100vw;
    }
    &--goods{
      width: 100%;
      &--list{
        display:flex;
        background-color: red;
        .list1{
          margin:10px 10px;
          position:relative;
          &--top{
            width:150px;
            height:150px;
            box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
          }
          &--bottom{
            height:65px;
            width:150px;
            background-color:white;
            font-size:18px;
            box-shadow:0 0 5px rgba(0, 0, 0, 0.4);
            word-wrap: break-word;
            &--price{
              align-items: center;
              background: rgba(0,0,0,.4);
              border-radius: 0 14px 14px 0;
              bottom: 8px;
              box-sizing: border-box;
              color: #fff;
              display: inline-flex;
              font-size: 17px;
              height: 28px;
              letter-spacing: .02em;
              margin: 0;
              padding: 0 12px;
              position:absolute;
              bottom: ;
              z-index: 2;
              top:145px;
            }
          }
        }
      }
    }
  }
}
.p{
  color:white;
  padding-left:40px;
  padding-top:30px;
}

.button{
  text-decoration:none;
  color:black;
}
.goods{
  &--list{
    display:flex;
  }
}
.button1{
  color:black;
  text-decoration:none;
}
.category_name{
  text-decoration:none;
  color:black;
}
.top-image{
  width:100vw;
  height:550px;
}
.contents2-image{
  width:306px;
  height:306px;
}
.contents3-image{
  width:100vw;
  height:400px;
}
.contents4-image{
  width:306px;
  height:306px;
}

.top_image_after_login{
  height: 300px;
  width: 100vw;
}
.top_message_after_login{
  height: 150px;
  width: 100%;
  line-height: 150px;
  font-size: 40px;
  text-align: center;
  margin: 0 auto;
}